@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

.content_menu__title {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  margin-bottom: 40px;
}

.contenedor_menu {
  margin: 0;
  padding: 0;
}

.contenedor_menu__content {
}

.contenedor_menu__content > div {
}

.contenedor_menu__content .header {
}
